<!DOCTYPE html>
<html>
<head>
    <title>Kalkulator CI/CD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h1> Kalkulator Web</h1>
        <h2>{{ app_name }}</h2>

        <form method="POST">
            <input type="number" step="any" name="num1" placeholder="Angka pertama" required>
            
            <select name="operation">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">×</option>
                <option value="/">÷</option>
            </select>

            <input type="number" step="any" name="num2" placeholder="Angka kedua" required>

            <button type="submit">Hitung</button>
        </form>

        {% if result is not none %}
        <div class="result">
            Hasil: <strong>{{ result }}</strong>
        </div>
        {% endif %}
    </div>
</div>

</body>
</html>